@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    background-color: #0E100F;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    color: #e0d7da;
}

h1,
h2 {
    text-align: center;
}

h1 {
    color: #E1BBC9;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 4rem;
}

button {
    margin: 0 10px;
}

.btn {
    color: #e0d7da;

}

.btn-second {
    background-color: transparent;
    text-decoration: underline;
}

.custom-btn {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    display: inline-block;
    outline: none;
}

.custom-btn span {
    position: relative;
    display: inline-block;
    z-index: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-main {
    position: relative;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    padding: 10px 25px;
    background-image: linear-gradient(315deg, #fab2d0 0%, #a30956 84%);
    line-height: 2px;
    border: none;
}

.btn-main::after {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 5px;
    background-image: linear-gradient(315deg, #a30956 0%, #fab2d0 84%);
    z-index: 50;
    opacity: 0;
    transition: opacity 1s ease;
}

.btn-main:hover::after {
    opacity: 1;
}